
<!--Main Content -->
<div class="wrapper">
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show city active " id="1" style="display:block">
      <div class="row up_data">
        <div class="col-md-3 form_data">
          <div class="dataUp co" >
            <h3 class="">CO: <span id="CO"></span></h3>
          </div>
        </div>
        <div class="col-md-3 form_data">
          <div class="dataUp o3">
            <h3 class="">O3: <span id="O3"></span></h3>
          </div>
        </div>
        <div class="col-md-3 form_data">
          <div class="dataUp so2">
            <h3 class="">SO2: <span id="SO2"></span></h3>
          </div>
        </div>
        <div class="col-md-3 form_data">
          <div class="dataUp  no2">
            <h3 class="">NO2: <span id="NO2"></span></h3>
          </div>
        </div>
        <div class="col-md-3 form_data" >
          <div class="dataUp pm25">
            <h3 class="">PM25: <span id="PM25"></span></h3>
          </div>
        </div>
        <div class="col-md-3 form_data">
          <div class="dataUp pm10">
            <h3 class="">PM10: <span id="PM10"></span></h3>
          </div>
        </div>

      </div>
      <br>
     
 
          <div class="row">
            <div class="col-sm">
              <img src="https://boneco.vn/upload/lanphuong/image/tin-tuc/chi-so-chat-luong-khong-khi-aqi.png"  alt="" srcset="">
            </div>
          
            <div class="col-sm">
              <figure class="highcharts-figure" style="background-color: aqua;">
                <canvas  id="container-speed" class="chart-container" style="width: 720px;  border: 1px solid black;" ></canvas>

              </figure>
            </div>
            <div class="col-sm">
              
            </div>
          </div>
          <br>
          <figure class="highcharts-figure">
            <div id="data1" class="data1" style="width: 1290px; height: 300px;  margin-left: -520px; border: 1px solid black; border-radius: 7px;" ></div>
            </figure>
    </div>
    <div class="tab-pane city" id="2" style="display:none">
      <div id="map"></div>

        <!-- <canvas id="myChart"></canvas>
        <div>
          <label for="votes">Vote:</label>
          <input type="number" name="votes" id="votes">
          <label for="category">Category</label>
          <input type="text" name="category" id="category">

          <label for="vote">vote</label>
          <input type="text" name="vote" id="vote">

        </div>
        <button onclick="addData(myChart)">Add Data</button>
        <button onclick="removeData(myChart)">remove Data</button>
        <button onclick="myVote(myChart)">My vote</button> -->
        <!-- <figure class="highcharts-figure">
        <div id="data1" class="data1" style="width: 600px; height: 300px;"></div>
        </figure>
         -->

        
        
   
    
    </div>
    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">3</div>
    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">4</div>
  </div>
</div>
