<!-- <div class="sideBar nav flex-column nav-pills-1" id="v-pills-tab" role="tablist" aria-orientation="vertical">
 
    <a class="nav-link tablink active " onclick="openCity( event,'1')"></i class="fas fa-homes"><span>DỮ LIỆU CẬP NHẬT</span></a>
    <a class="nav-link tablink" onclick="openCity(event, '2')"><i class="fas fa-cogs"></i><span>BIỂU ĐỒ</span></a>
</div> -->
<div class="sideBar nav flex-column nav-pills-1" id="v-pills-tab" role="tablist" aria-orientation="vertical">
 
    <a class="nav-link tablink active "></i><span>DỮ LIỆU CẬP NHẬT</span></a>
    <a   href="http://aqi18cevku.tk:5000/maps" class="nav-link tablink" ><span>BẢN ĐỒ LORA</span></a>
</div>